<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <form action="/signin/" method="post">
        성: <input type="text" name="lastname">
        </br>
        이름: <input type="text" name="firstname">
        </br>
        ID: <input type="text" name="userid">
        </br>
        비밀번호: <input type="text" name="mypassword">
        </br>
        e-mail: <input type="text" name="myemail">
        </br>
        <input type="button" id="cancel" value="취소" onclick="">
        <input type="submit" value="가입완료">
    </form>
</body>
</html>